docs/n8n/docs-sync.json
{
  "id": "self-docs-weekly-sync",
  "name": "self-docs weekly sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [0],
              "triggerAtHour": 3,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1600, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "ingestionBaseUrl",
              "type": "string",
              "value": "http://ingestion:8080"
            },
            {
              "id": "cfg-2",
              "name": "pollIntervalSeconds",
              "type": "number",
              "value": 60
            },
            {
              "id": "cfg-3",
              "name": "timeoutMinutes",
              "type": "number",
              "value": 60
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1360, 0],
      "notes": "Workflow variables: edit here to change the ingestion URL, poll interval, or total poll timeout. Defaults: 60s interval / 60min timeout."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.ingestionBaseUrl }}/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {} }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Trigger Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1120, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SET_ME_SYNC_TOKEN_CRED_ID",
          "name": "self-docs-sync-token"
        }
      },
      "notes": "POST /sync with no body -> syncs all configured sources. Auth via the 'self-docs-sync-token' Header Auth credential (Authorization: Bearer <SYNC_TOKEN>). neverError+fullResponse so 401/409/400 land on the main output as data instead of throwing, so we can branch on statusCode below."
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "swt-1",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 409,
                    "operator": { "type": "number", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "conflict"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "swt-2",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": { "type": "number", "operation": "gte" }
                  },
                  {
                    "id": "swt-3",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 300,
                    "operator": { "type": "number", "operation": "lt" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "started"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "error"
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Sync Trigger Result",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-880, 0],
      "notes": "Branches: 409 -> conflict (no-op, no alert). 200/202 -> started (proceed to poll). Anything else (401 unauthorized, 400 unknown source, network error) -> error (fallback) -> failure notification."
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "No-op End (Already Running)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-640, -220],
      "notes": "409 from /sync means another run is already in flight. Per contract this is a no-op success-exit: do NOT alert."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "te-1", "name": "kind", "type": "string", "value": "trigger_error" },
            {
              "id": "te-2",
              "name": "detail",
              "type": "string",
              "value": "=POST /sync failed with HTTP {{ $json.statusCode }}: {{ JSON.stringify($json.body) }}"
            }
          ]
        },
        "options": { "includeOtherFields": true }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Tag Trigger Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-640, 40]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ip-1",
              "name": "pollStartedAt",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": { "includeOtherFields": true }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Init Poll",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-640, 260]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ $json.pollIntervalSeconds }}",
        "unit": "seconds"
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Poll Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-400, 260],
      "webhookId": "b7f0a5b0-poll-wait-0000-000000000008"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.ingestionBaseUrl }}/status",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, 260],
      "notes": "GET /status is unauthenticated per the ingestion contract (only /sync requires the Bearer token)."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Input item 0: the raw /status body -> { running: bool, <sourceName>: {...}, ... }\n// We also need pollStartedAt/timeoutMinutes/pollIntervalSeconds/ingestionBaseUrl carried\n// from earlier in the branch (Init Poll / Config), fetched by node reference so the\n// loop-back edge (which re-enters at Poll Wait, not Init Poll) still works.\nconst status = items[0].json;\nconst cfg = $('Init Poll').first().json;\n\nconst startedAt = Date.parse(cfg.pollStartedAt);\nconst elapsedMinutes = (Date.now() - startedAt) / 60000;\nconst timeoutMinutes = cfg.timeoutMinutes;\n\nreturn [{\n  json: {\n    ...cfg,\n    status,\n    running: status.running,\n    done: status.running === false,\n    timedOut: status.running === true && elapsedMinutes >= timeoutMinutes,\n    elapsedMinutes\n  }\n}];"
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Evaluate Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 260]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "pd-1",
                    "leftValue": "={{ $json.done }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true", "singleValue": true }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "done"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "pd-2",
                    "leftValue": "={{ $json.timedOut }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true", "singleValue": true }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "timeout"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "stillRunning"
        }
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Poll Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [320, 260],
      "notes": "done -> Evaluate Results. timedOut (elapsed >= timeoutMinutes, still running) -> Timeout failure. Otherwise (still running, not timed out) -> loop back to Poll Wait."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "to-1", "name": "kind", "type": "string", "value": "timeout" },
            {
              "id": "to-2",
              "name": "detail",
              "type": "string",
              "value": "=Sync did not finish (running=true) after {{ $json.timeoutMinutes }} minutes of polling (interval {{ $json.pollIntervalSeconds }}s)."
            }
          ]
        },
        "options": { "includeOtherFields": true }
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Tag Timeout",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 140]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// items[0].json.status = { running: false, <sourceName>: { pages_fetched, pages_skipped,\n//   pages_failed, pages_removed, chunks_indexed, last_status, last_synced, error }, ... }\nconst status = items[0].json.status;\nconst sourceNames = Object.keys(status).filter((k) => k !== 'running');\n\nconst totals = { pages_fetched: 0, pages_skipped: 0, pages_failed: 0, pages_removed: 0, chunks_indexed: 0 };\nconst failedSources = [];\n\nfor (const name of sourceNames) {\n  const s = status[name] || {};\n  totals.pages_fetched += s.pages_fetched || 0;\n  totals.pages_skipped += s.pages_skipped || 0;\n  totals.pages_failed += s.pages_failed || 0;\n  totals.pages_removed += s.pages_removed || 0;\n  totals.chunks_indexed += s.chunks_indexed || 0;\n\n  if (s.last_status === 'failed' || s.last_status === 'partial') {\n    failedSources.push({ name, last_status: s.last_status, error: s.error || null });\n  }\n}\n\nreturn [{\n  json: {\n    kind: failedSources.length > 0 ? 'sync_failure' : 'success',\n    sourceNames,\n    totals,\n    failedSources,\n    hasFailures: failedSources.length > 0\n  }\n}];"
      },
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Evaluate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "af-1",
              "leftValue": "={{ $json.hasFailures }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "Any Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [800, 380]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ts-1",
              "name": "detail",
              "type": "string",
              "value": "=Source(s) with problems: {{ $json.failedSources.map(s => `${s.name} (${s.last_status}${s.error ? ': ' + s.error : ''})`).join(', ') }}. Totals this run: {{ $json.totals.pages_fetched }} pages fetched, {{ $json.totals.pages_skipped }} skipped, {{ $json.totals.pages_failed }} failed, {{ $json.totals.pages_removed }} removed, {{ $json.totals.chunks_indexed }} chunks indexed."
            }
          ]
        },
        "options": { "includeOtherFields": true }
      },
      "id": "a1b2c3d4-0015-4000-8000-000000000015",
      "name": "Tag Sync Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, 260]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "su-1",
              "name": "kind",
              "type": "string",
              "value": "success"
            },
            {
              "id": "su-2",
              "name": "detail",
              "type": "string",
              "value": "=All {{ $json.sourceNames.length }} source(s) ok: {{ $json.sourceNames.join(', ') }}. Totals this run: {{ $json.totals.pages_fetched }} pages fetched, {{ $json.totals.pages_skipped }} skipped, {{ $json.totals.pages_removed }} removed, {{ $json.totals.chunks_indexed }} chunks indexed."
            }
          ]
        },
        "options": { "includeOtherFields": true }
      },
      "id": "a1b2c3d4-0016-4000-8000-000000000016",
      "name": "Tag Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, 500]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Builds the final { text } payload for the generic webhook notification node.\n// Works for Discord ({content}-style receivers usually also accept {text}),\n// Slack-compatible incoming webhooks, and ntfy (which reads the raw body as\n// the message when Content-Type is text/plain, or {message} for JSON -- most\n// self-hosted ntfy proxies also accept {text}). Adjust the field name in the\n// README if your receiver strictly requires content/message instead of text.\nconst j = items[0].json;\nlet emoji = ':white_check_mark:';\nlet title = 'self-docs sync OK';\n\nif (j.kind === 'trigger_error') {\n  emoji = ':rotating_light:';\n  title = 'self-docs sync FAILED to start';\n} else if (j.kind === 'timeout') {\n  emoji = ':rotating_light:';\n  title = 'self-docs sync TIMED OUT';\n} else if (j.kind === 'sync_failure') {\n  emoji = ':warning:';\n  title = 'self-docs sync completed with problems';\n}\n\nconst text = `${emoji} *${title}*\\n${j.detail}`;\n\nreturn [{ json: { text } }];"
      },
      "id": "a1b2c3d4-0017-4000-8000-000000000017",
      "name": "Prepare Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFY_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { text: $json.text } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0018-4000-8000-000000000018",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 260],
      "notes": "The webhook URL itself is the secret for Discord/Slack/ntfy-style incoming webhooks (the token lives in the URL path, not a header or query param). n8n's generic auth credential types (Header Auth / Query Auth / Custom Auth) can only inject a header, a query param, or body/qs fields into a request -- none of them can substitute the request URL itself, so there is no stock n8n *credential* that can hide a full secret URL from this node. The correct, supported n8n mechanism for a secret consumed as a raw config value (not header/query/body) is an environment variable: set NOTIFY_WEBHOOK_URL in the n8n process environment (never in this JSON, never in git). See docs/n8n/README.md."
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Trigger Sync", "type": "main", "index": 0 }]]
    },
    "Trigger Sync": {
      "main": [[{ "node": "Sync Trigger Result", "type": "main", "index": 0 }]]
    },
    "Sync Trigger Result": {
      "main": [
        [{ "node": "No-op End (Already Running)", "type": "main", "index": 0 }],
        [{ "node": "Init Poll", "type": "main", "index": 0 }],
        [{ "node": "Tag Trigger Error", "type": "main", "index": 0 }]
      ]
    },
    "Tag Trigger Error": {
      "main": [[{ "node": "Prepare Notification", "type": "main", "index": 0 }]]
    },
    "Init Poll": {
      "main": [[{ "node": "Poll Wait", "type": "main", "index": 0 }]]
    },
    "Poll Wait": {
      "main": [[{ "node": "Get Status", "type": "main", "index": 0 }]]
    },
    "Get Status": {
      "main": [[{ "node": "Evaluate Poll", "type": "main", "index": 0 }]]
    },
    "Evaluate Poll": {
      "main": [[{ "node": "Poll Decision", "type": "main", "index": 0 }]]
    },
    "Poll Decision": {
      "main": [
        [{ "node": "Evaluate Results", "type": "main", "index": 0 }],
        [{ "node": "Tag Timeout", "type": "main", "index": 0 }],
        [{ "node": "Poll Wait", "type": "main", "index": 0 }]
      ]
    },
    "Tag Timeout": {
      "main": [[{ "node": "Prepare Notification", "type": "main", "index": 0 }]]
    },
    "Evaluate Results": {
      "main": [[{ "node": "Any Failures?", "type": "main", "index": 0 }]]
    },
    "Any Failures?": {
      "main": [
        [{ "node": "Tag Sync Failure", "type": "main", "index": 0 }],
        [{ "node": "Tag Success", "type": "main", "index": 0 }]
      ]
    },
    "Tag Sync Failure": {
      "main": [[{ "node": "Prepare Notification", "type": "main", "index": 0 }]]
    },
    "Tag Success": {
      "main": [[{ "node": "Prepare Notification", "type": "main", "index": 0 }]]
    },
    "Prepare Notification": {
      "main": [[{ "node": "Send Notification", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Etc/UTC",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
